/* 
====================================================
rnaseq-qc-de - nextflow.config
====================================================
*/

manifest {
    name            = 'rnaseq-qc-de'
    author          = 'Piotr Ozga'
    version         = '1.0.0'
    nextflowVersion = '!>=25.04.0'
    mainScript      = 'main.nf' 
}

// --- DEFAULT PARAMETERS ---

params {
    // Input & Output
    samplesheet         = ''
    outdir              = './results'
    publish_dir_mode    = 'copy'
    transcriptome_fasta = null
    genome_fasta        = null
    gtf                 = null

    // Global limits
    max_cpus            = 12
    max_memory          = 16.GB
    max_time            = 120.h

    // Save intermediate data
    save_trimmed        = true

    // Others
    salmon_lib_type     = "A"
    ref_level           = null
    trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
}

// --- PROCESS LOGIC AND RESOURCE LABELS ---

process {
    // Resource limit management
    resourceLimits = [
        cpus: params.max_cpus,
        memory: params.max_memory,
        time: params.max_time
    ]

    // Retry strategy for common memory/resource errors
    errorStrategy = { task.exitStatus in [137, 139, 140, 143, 247] ? 'retry' : 'finish'}
    maxRetries = 1

    // Resource definitions
    withLabel: 'process_low' {
        cpus    = { 2 * task.attempt }
        memory  = { 4.GB * task.attempt }
        time    = { 1.h * task.attempt }
    }
    withLabel: 'process_medium' {
        cpus    = { 8 * task.attempt }
        memory  = { 12.GB * task.attempt }
        time    = { 4.h * task.attempt }
    }
    withLabel: 'process_high' {
        cpus    = { 10 * task.attempt }
        memory  = { 12.GB * task.attempt }
        time    = { 8.h * task.attempt }
    }

    // Module level configuration
    withName: 'SRA_DOWNLOAD' {
        ext.args_pf = "--max-size 100G"
        ext.args_fd = "--mem 10G"
        publishDir = [
            path: { "${params.outdir}/raw_fastq" },
            mode: params.publish_dir_mode,
            pattern: "*fastq.gz"
        ]
    }

    withName: '.*FASTQC_RAW' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/fastqc/raw" },
            mode: params.publish_dir_mode
        ]
    }

    withName: '.*FASTQC_TRIMMED' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/fastqc/trimmed" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TRIMGALORE' {
        ext.args = ""
        publishDir = [
            [
                path: { "${params.outdir}/trimgalore/logs" },
                mode: params.publish_dir_mode,
                pattern: "*report.txt"
            ],
            [
                path: { "${params.outdir}/trimgalore" },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                enabled: params.save_trimmed
            ]
        ]
    }

    withName: 'SALMON_INDEX' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/salmon/index"},
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SALMON_QUANT' {
        ext.args = "--gcBias --seqBias"
        publishDir = [
            path: { "${params.outdir}/salmon"},
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/reports/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith(".yml") ? null : filename}
        ]
    }

    withName: 'DESEQ2_ANALYSIS' {
        publishDir = [
            path: { "${params.outdir}/dea/deseq2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'ANNOTATE_RESULTS' {
        publishDir = [
            path: { "${params.outdir}/dea/annotation" },
            mode: params.publish_dir_mode
        ]
    }
}

// --- EXECUTION PROFILES ---

profiles {
    docker {
        docker.enabled      = true
        docker.runOptions   = '-u $(id -u):$(id -g)'
        conda.enabled       = false
        singularity.enabled = false
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir    = "${System.getProperty('user.home')}/.singularity_cache"
        docker.enabled          = false
        conda.enabled           = false
    }
    conda {
        singularity.enabled     = false
        docker.enabled          = false
        conda.enabled           = true
        conda.cacheDir          = "${projectDir}/conda_cache"
        conda.useMamba          = true
    }
}

// --- REPORT AND TIMELINE ---

timeline {
    enabled     = true
    file        = "${params.outdir}/pipeline_info/timeline_${params.trace_timestamp}.html"
    overwrite   = true
}

report {
    enabled     = true
    file        = "${params.outdir}/pipeline_info/report_${params.trace_timestamp}.html"
    overwrite   = true
}

dag {
    enabled     = true
    file        = "${params.outdir}/pipeline_info/dag_${params.trace_timestamp}.svg"
    overwrite   = true
}

trace {
    enabled     = true
    file        = "${params.outdir}/pipeline_info/trace_${params.trace_timestamp}.tsv"
    overwrite   = true
    fields      = 'task_id,hash,process,status,exit,realtime,%cpu,rss'
}