/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    samplesheet         = "${projectDir}/tests/samplesheet.csv"
    outdir              = "${projectDir}/tests/results"
    publish_dir_mode    = "copy"
    transcriptome_fasta = "${projectDir}/tests/reference/transcriptome.fasta.gz"
    genome_fasta        = "${projectDir}/tests/reference/genome.fa.gz"
    gtf                 = "${projectDir}/tests/reference/genes.gtf.gz"

    // Overwrite limit parameters
    max_cpus         = 2
    max_memory       = 6.GB 
}

process {
    withLabel: "process_low|process_medium|process_high" {
        cpus   = 2
        memory = '4.GB'
    }
}