/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    outdir           = 'tests/results'
    publish_dir_mode = 'copy'

    // Overwrite limit parameters
    max_cpus         = 2
    max_memory       = 6.GB 
}

process {
    withLabel: "process_low|process_medium|process_high" {
        cpus   = 2
        memory = '4.GB'
    }
}